{% extends 'init_base.html' %}

{% block header %}
Devices & Properties
{% endblock %}

{% block content %}
    <div class='content-list'>
        <button id='btn-dev' onclick="showDev()">Devices</button><button id='btn-prop' onclick="showProp()">Properties</button><br>
        <ul id='devlist'>
            {% for dev in devices %}
                <li id="{{ dev['id'] }}">
                    <button id="{{ dev['id'] }}">{{ dev[RDFS_label] }}</button>
                </li>
            {% endfor %}
        </ul>
        <ul id='proplist'>
            {% for prop in properties %}
                <li id="{{ prop['id'] }}">
                    <button id="{{ prop['id'] }}">{{ prop['id'] }}</button>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class='content'>
        <form method='post' id='devprop-form'>
            <div id='id-display'></div><br>
            <input type="hidden" id="form-id" name="id">
            <label>Label</label><br>
            <input id='form-label' class='form-text' type='text' name='label' placeholder="mydevice"><br>
            <div id='prop-display'></div><br>
            <div id='prop-link'></div><br>
            <input type='submit' value='Change'>
        </form>
    </div>
{% endblock %}

{% block footer %}
<a class='action init-btn-continue' href="{{ url_for('init.foi')}}"><button>Continue</button></a>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function($) {
        $('#devprop-form').hide();
        showDev();
    });

    document.getElementById("devlist").addEventListener("click", function(e) {selectDevProp(e, false)})
    document.getElementById("proplist").addEventListener("click", function(e) {selectDevProp(e, true)})

    function selectDevProp(e, isProp) {
        if(e.target && e.target.nodeName == "BUTTON") {
            $('#devprop-form').show()
            setDevPropForm(e.target.id, isProp)
       }
    }

    function setDevPropForm(id, isProp) {
        if (isProp && document.getElementById('btn-dev').disabled == true) {
            showProp();
        }
        device = getDevPropById(id, isProp)
        document.getElementById("id-display").innerHTML = device['id']
        $("#form-id").val(id)
        document.getElementById("form-label").value = device['{{RDFS_label}}']
        document.getElementById('prop-display').innerHTML = null;
        document.getElementById('prop-link').innerHTML = null;

        if (!isProp) {
            if(device['{{DOME_actuates}}']) {
                target_prop_id = device['{{DOME_actuates}}']
                target_prop_label = (getDevPropById(target_prop_id, true))['{{RDFS_label}}']
                document.getElementById('prop-display').innerHTML = "<label>Actuates</label>";
                document.getElementById('prop-link').innerHTML = '<button onclick="setDevPropForm('+"'"+target_prop_id+"'"+', true)">'+target_prop_label+'</button>'
            }
            if(device['{{DOME_observes}}']) {
                target_prop_id = device['{{DOME_observes}}']
                target_prop_label = (getDevPropById(target_prop_id, true))['{{RDFS_label}}']
                document.getElementById('prop-display').innerHTML = "<label>Observes</label>";
                document.getElementById('prop-link').innerHTML = '<button onclick="setDevPropForm('+"'"+target_prop_id+"'"+', true)">'+target_prop_label+'</button>'
            }
        }
    }

    function showDev() {
        console.log('btn-dev clicked!')
        devbtn = document.getElementById('btn-dev');
        propbtn = document.getElementById('btn-prop');
        devbtn.disabled = true;
        propbtn.disabled = false;
        $('#devlist').show();
        $('#proplist').hide();
    }

    function showProp() {
        console.log('btn-prop clicked!')
        devbtn = document.getElementById('btn-dev');
        propbtn = document.getElementById('btn-prop');
        devbtn.disabled = false;
        propbtn.disabled = true;
        $('#devlist').hide();
        $('#proplist').show();
    }

    function getDevPropById(id, isProp) {
        entities = JSON.parse('{{ devices|tojson }}')
        if (isProp) {
            entities = JSON.parse('{{ properties|tojson }}')
        }
        for(i = 0; i < entities.length; i++) {
            if (entities[i]['id'] == id) {
                return entities[i];
            }
        }
    }
</script>
{% endblock %}