{% extends 'init_base.html' %}

{% block header %}
Rooms
{% endblock %}

{% block content %}
    <div class='content-list'>
        <span>Registered rooms</span>
        <ul>
            {% for room in rooms %}
                <li>{{ room }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class='content'>
        <form method='post'>
            <label>Room name</label><br>
            <input class='form-text' type='text' name='rname' placeholder="myhome"><br>
            <input type='submit' value='add'>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a class='action init-btn-continue' href="{{ url_for('init.devprop')}}"><button>Continue</button></a>
{% endblock %}