<!-- <!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='init-style.css') }}">
  <title>DomeLD</title>
</head>
<body>
    <div class='init-container ic-shadow'>
        <div class='init-header'>
            <h1>Rooms</h1>
        </div>

        <div class='content-container'>

            <div class='content-list'>
                <ul>
                    {% for room in rooms %}
                        <li>{{ room }}</li>
                    {% endfor %}
                </ul>
            </div>
    
            <div class='content'>
                <form method='post'>
                    <label>Room name</label><br>
                    <input class='form-text' type='text' name='rname' placeholder="myhome"><br>
                    <input type='submit' value='add'>
                </form>
            </div>

        </div>

        <div class='init-footer'>
            <a class='action init-btn-continue' href="{{ url_for('init.devprop')}}"><button>Continue</button></a>
        </div>
    </div>
</body> -->

{% extends 'init_base.html' %}

{% block header %}
Rooms
{% endblock %}

{% block content %}
    <div class='content-list'>
        <span>Registered rooms</span>
        <ul>
            {% for room in rooms %}
                <li>{{ room }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class='content'>
        <form method='post'>
            <label>Room name</label><br>
            <input class='form-text' type='text' name='rname' placeholder="myhome"><br>
            <input type='submit' value='add'>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a class='action init-btn-continue' href="{{ url_for('init.devprop')}}"><button>Continue</button></a>
{% endblock %}