{% extends 'init_base.html' %}

{% block header %}
Features of Interest
{% endblock %}

{% block content %}
    <div class='content-list'>
        <ul id='foi-list'>
            {% for foi in foi_list %}
            <li id="{{ foi['id'] }}">
                <button id="{{ foi['id'] }}">{{ foi[RDFS_label] }}</button>
            </li>
            {% endfor %}
            <li id="li-new">
                <button id="li-new">New...</button>
            </li>
        </ul>
    </div>

    <div class='content'>
        <form method='post' id='foi-form'>
            <label>Label</label><br>
            <input required id='form-label' class='form-text' type='text' name='label' placeholder="temperature"><br>

            <label>Location</label><br>
            <select name='location'>
                {% for room in room_list %}
                <option id="{{ room['id'] }}">{{ room[RDFS_label] }}</option>
                {% endfor %}
            </select><br>

            <label>Properties</label><br>
            {% for prop in property_list %}
                <input type="checkbox" id="{{ prop['id'] }}" name="prop_{{loop.index}}" value="{{prop['id']}}">{{ prop['id']+":"+prop[RDFS_label] }}<br>
            {% endfor %}

            <input type='hidden' id='form-id' name='id'>
            <input type='submit' value='Change'>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <a class='action init-btn-continue' href="{{ url_for('index')}}"><button>Continue</button></a>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    document.getElementById("foi-list").addEventListener("click", function(e) {selectFoI(e)})

    function selectFoI(e) {
        clearForm();
        if(e.target.id == 'li-new') {
            return;
        }
        foi = getFoIById(e.target.id)
        document.getElementById('form-id').value = foi['id']
        document.getElementById('form-label').value = foi['{{ RDFS_label }}']
        for(prop of foi['{{ DOME_hasprop }}']) {
            document.getElementById(prop).checked = true;
        }
    }

    function clearForm() {
        document.getElementById('form-id').value = ""
        document.getElementById('form-label').value = ""
        props = JSON.parse('{{ property_list|tojson }}')

        form_children = document.getElementById('foi-form').childNodes
        for (i = 0; i < form_children.length; i++) {
            console.log(form_children[i])
            if (form_children[i].type == "checkbox") {
                form_children[i].checked = false
            }
        }
    }

    function getFoIById(id) {
        entities = JSON.parse('{{ foi_list|tojson }}')
        for(i = 0; i < entities.length; i++) {
            if (entities[i]['id'] == id) {
                return entities[i];
            }
        }
    }
</script>
{% endblock %}