<!-- <!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='init-style.css') }}">
  <title>DomeLD</title>
</head>
<body>
    <div class='init-container ic-shadow'>
        <div class='content'>
            <p>Home</p>
            <form method="post">
                Name: <input type='text' name='hname' placeholder="myhome"><br>
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</body> -->

{% extends 'init_base.html' %}

{% block header %}
Home
{% endblock %}

{% block content %}
    Insert a name for your home
    <form method="post">
        Name: <input type='text' name='hname' placeholder="myhome"><br>
        <input type="submit" value="Save">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}